* {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    font-family: sans-serif;
    background-color: #eee;
}

p {
    margin: .3em 0;
}

h1{
    margin-top: 0;
}

h3 {
    color: #3385ff;
}
h3+p {
    text-indent: 2em;
}
h4+p {
    text-indent: 2em;
}

article{
    width: 21cm;
    min-height: 29.7cm;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em;
}

.bio {
    position: relative;
}

#skill strong {
    color: #30f;
}

.bio img.personPic {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 150px;
}

@media print {
    body{
        margin: 0;
    }
}
